In [ ]:
import pandas as pd
import seaborn as sns

df_movies_with_director = pd.read_csv('Datasets/IMDb movies.csv', low_memory=False)

In [8]:
df_movies_with_director

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [9]:
#For some reason the last row has a weird year value
df_movies_with_director['year'][83917]

'TV Movie 2019'

In [10]:
#So we filter out all non-numeric year values
filtered_df = df_movies_with_director[df_movies_with_director['year'].str.isnumeric()]

In [11]:
#And only keep English language movies after 1990
english_movies_after_1990 = filtered_df[(pd.to_numeric(filtered_df['year']) >= 1990) & (filtered_df['country'] == "USA")]

In [13]:
english_movies_after_1990

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
4334,tt0035423,Kate & Leopold,Kate & Leopold,2001,2002-03-01,"Comedy, Fantasy, Romance",118,USA,"English, French",James Mangold,...,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",An English Duke from 1876 is inadvertedly drag...,6.4,77852,$ 48000000,$ 47121859,$ 76019048,44.0,341.0,115.0
19545,tt0081145,Harry e Carota,Me and the Kid,1993,1993-10-22,"Comedy, Crime, Drama",94,USA,English,Dan Curtis,...,"Danny Aiello, Alex Zuckerman, Joe Pantoliano, ...",A lonely and emotionally neglected rich kid fo...,5.4,242,NaN,$ 60473,NaN,NaN,3.0,NaN
21806,tt0088751,The Naked Monster,The Naked Monster,2005,2005-04-22,"Comedy, Horror, Sci-Fi",100,USA,English,"Wayne Berwick, Ted Newsom",...,"Kenneth Tobey, Brinke Stevens, R.G. Wilson, Jo...","A brain-dead sheriff, a stolid secret agent an...",5.4,264,PYG 350000000,NaN,NaN,NaN,15.0,8.0
23805,tt0094900,Committed,Committed,1991,1991-04-18,"Drama, Thriller",90,USA,English,William A. Levey,...,"Jennifer O'Neill, Robert Forster, William Wind...",A nurse is taken hostage by a patient pretendi...,5.1,184,NaN,NaN,NaN,NaN,2.0,2.0
24113,tt0095745,Ninja Vengeance,Ninja Vengeance,1993,1993-02-01,"Action, Drama",87,USA,English,Karl Armstrong,...,"Janet Pawlak, David Paul Lord, Craig Boyett, C...",After he witnesses the death of a black law st...,2.2,244,NaN,NaN,NaN,NaN,17.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85829,tt9887520,Season of Love,Season of Love,2019,2019-11-30,"Comedy, Romance",105,USA,NaN,Christin Baker,...,"Dominique Provost-Chalkley, Jessica Clark, Emi...",A queer lady holiday romantic comedy that foll...,7.5,228,NaN,NaN,NaN,NaN,10.0,5.0
85830,tt9887580,Bulletproof 2,Bulletproof 2,2020,2020-01-07,"Action, Comedy",97,USA,English,Don Michael Paul,...,"Faizon Love, Kirk Fox, Tony Todd, Cassie Clare...","Set 25 years after, Jack is now working as a S...",3.5,326,NaN,NaN,NaN,NaN,18.0,5.0
85837,tt9894470,VFW,VFW,2019,2020-02-14,"Action, Crime, Horror",92,USA,English,Joe Begos,...,"Stephen Lang, William Sadler, Fred Williamson,...",A group of old war veterans put their lives on...,6.1,4178,NaN,NaN,$ 23101,72.0,83.0,94.0
85838,tt9896916,The Pilgrim's Progress,The Pilgrim's Progress,2019,2019-04-18,"Animation, Adventure, Family",108,USA,English,Robert Fernandez,...,"David Thorpe, John Rhys-Davies, Kristyn Getty,...","An epic journey, faithfully adapted to modern-...",5.7,442,NaN,$ 1294596,$ 3173282,NaN,28.0,3.0
85839,tt9898858,Coffee & Kareem,Coffee & Kareem,2020,2020-04-03,"Action, Comedy",88,USA,English,Michael Dowse,...,"Ed Helms, Taraji P. Henson, Terrence Little Ga...",Twelve-year-old Kareem Manning hires a crimina...,5.1,10627,NaN,NaN,NaN,35.0,388.0,64.0

In [32]:
df_top_actors = pd.read_csv('Datasets/Top_Stars_at_domestic_box_office.csv', sep=" ", low_memory=False)

In [33]:
df_top_actors

,1\tStan,"Lee\t$11,926,947,644\t50\t$238,538,953"
2\tSamuel,L.,"Jackson\t$11,797,583,356\t146\t$80,805,365"
3\tJohn,"Ratzenberger\t$7,781,535,467\t54\t$144,102,509",NaN
4\tFrank,"Welker\t$7,482,866,863\t114\t$65,639,183",NaN
5\tJon,"Favreau\t$6,540,011,834\t42\t$155,714,567",NaN
6\tRobert,"Downey,","Jr.\t$6,426,792,369\t68\t$94,511,652"
...,...,...
96\tJohn,"Goodman\t$3,409,305,132\t83\t$41,075,965",NaN
97\tDomhnall,"Gleeson\t$3,402,430,805\t28\t$121,515,386",NaN
98\tHelena,Bonham,"Carter\t$3,395,075,131\t53\t$64,058,021"
99\tAlec,"Baldwin\t$3,389,234,753\t92\t$36,839,508",NaN
100\tRyan,"Reynolds\t$3,384,641,351\t56\t$60,440,024",NaN