<center>
<img src=https://upload.wikimedia.org/wikipedia/commons/6/69/IMDB_Logo_2016.svg width=800 height=500 />
</center>

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* In this project we will use IMBD dataset to discover best movies , certificate , rating , duration ... <br>
* The objective of this project is : <br>

1: Loading dataset<br>
2: EDA <br>
3: Cleaning <br>
4:getting infromative insights and infromation 

</div>

<a id="1"></a>
# <p style="padding:10px;background-color:#B01546;margin:0;color:#e9c46a;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">Importing Libraries</p>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px 
from plotly.offline import init_notebook_mode
init_notebook_mode(connected=True)
import re
pd.set_option('display.max_columns' , None)
import warnings
warnings.filterwarnings('ignore')

In [2]:
print("duck")

duck

<a id="3"></a>
# <p style="padding:10px;background-color:#B01546;margin:0;color:#e9c46a;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">Loading Dataset</p>

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* Loading dataset and convert it to dataframe to have better view
* showing randomly 7 rows

</div>

View of dataset:

,title,year,certificate,duration,genre,rating,description,stars,votes
7389,Untitled Chris Smith/Netflix Project,NaN,NaN,NaN,Documentary,NaN,Chronicles a married couple's alleged scheme t...,[],NaN
8432,Ultraman,(2019– ),TV-14,NaN,"Animation, Action, Adventure",6.9,After uncovering evidence of alien involvement...,"['Shinji Aramaki, ', 'Kenji Kamiyama, ', 'Jeff...",104
8807,Arthdal Chronicles,(2019– ),NaN,80 min,"Action, Drama, Fantasy",8.5,Add a Plot,"['Won Suk Kim', '| ', ' Stars:', 'Song Joon...",168
6437,Kevin James: Sweat the Small Stuff,(2001 TV Special),TV-PG,60 min,"Documentary, Comedy",7.4,"Kevin James. The big, sweaty, funny man from t...","['Paul Miller', '| ', ' Star:', 'Kevin James']","1,096"
9789,Kevin Hart: Don't F**k This Up,(2019),TV-MA,NaN,Documentary,6.5,"Months before a public scandal, Kevin Hart off...","['Art Arreola, ', 'Kevin Hart']",107
4001,Hurricane Bianca,(2016),TV-MA,84 min,"Comedy, Drama",5.8,"A New York teacher, who moves to small town Te...","['Matt Kugelman', '| ', ' Stars:', 'Roy Hay...","6,462"
866,Coroner,(2019– ),TV-MA,60 min,"Crime, Drama, Mystery",6.7,A newly appointed coroner investigates a strin...,"['Serinda Swan, ', 'Roger Cross, ', 'Kiley May...","4,494"

In [3]:
print("duck")

duck

<a id="3"></a>
# <p style="padding:10px;background-color:#B01546;margin:0;color:#e9c46a;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">Dataset Description</p>

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* I create a class color to use  of different styles for text such as BULE color , BOLD , UNDERLINE and  END  
to have better and colorful texts  

</div>

In [ ]:
class color :
    BLUE = '\033[94m'
    BOLD = '\033[1m'
    UNDERLINE = '\033[4m'
    END = '\033[0m'

In [ ]:
print(f'{color.BOLD}The shape of dataset is :{df.shape}')

In [ ]:
print('Columns are :\n')
print(f'{color.BOLD}{df.columns}')

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* shape is : 9957 samples and 9 features <br>

1- title : The name of the movie <br>
2- year  : The year of production (also series are combined)<br>
3- certificate : each movie has a specific allowence compancy (this column has names of company for each movie)<br>
4- duration : The time for each movie <br>
5- genre : movie kind such as romantic , horror , etc ... . <br>
6- rating : IMBD has a specific score for each movie <br>
7- description : Sumarry of the movie <br>
8- starts : actors and actresses <br>
9- votes : views and opinions of people for the movie <br>
</div>

In [ ]:
df.describe(include='all')

In [ ]:
df.info()

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* we can observe that just three columns dont have null values and others have with different amont of null values
* type of year , duration and votes features can be numeric but ther are object 
* so , I am going to create a function to descripe all the details  like dtype , unique values , count ,<br>
missing values and perecntage of missing values


</div>

In [ ]:
def dataset_details(dataset):
    feature = []
    dtype = []
    unique =[]
    count = []
    missing_values=[]
    missing_percentage = []
    
    for column in df.columns :
        feature.append(column)
        dtype.append(df[column].dtype)
        unique.append(df[column].unique())
        count.append(len(df[column]))
        missing_values.append(df[column].isnull().sum())
        missing_percentage.append(round((df[column].isnull().sum()/len(df))*100 , 2))
        
        
    details = pd.DataFrame({
        'Feature' : feature , 
        'Type' : dtype , 
        'Count' : count , 
        'Unique' : unique , 
        "Missed Values" : missing_values,
        'Missed Percent%' : missing_percentage,
       
    })
    
    return details

In [ ]:
dataset_details(df)

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* we can see that certificate and duarion have the hieghest missed values with 34% , 20% respectively.<br>
* rating and year have also 1173 and 537 missed values stands for approximately 12 % and 5%<br>
* lets check duplicated values:<br>
</div>

In [ ]:
df.duplicated().sum()

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* There is no duplicated values<br>
* lets show again Missed values by a illustration mode to have better insights<br>
</div>

In [ ]:
sns.set(style="darkgrid",font_scale=1.5)
plt.figure(figsize=(14,8))
sns.heatmap(df.isnull(),cmap="summer")
plt.xlabel('Features')
plt.title('Missing values')
plt.show()

<a id="3"></a>
# <p style="padding:10px;background-color:#B01546;margin:0;color:#e9c46a;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">Cleaning and EDA</p>

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* Lets fill all missed values by NAN 
</div>

In [ ]:
df.fillna('NAN' , inplace=True)

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* column year requires to be cleaned => except numbers and NAN we will put space<br> 
* we fill one or more spaces with just one space <br>
* now we have good looking year column
</div>

In [ ]:

# df['year'] = df['year'].apply(lambda x : x.split('(')[1].split(')')[0])
df['year'] = df['year'].apply(lambda x : re.sub('[^0-9NAN-]' , ' ' ,x))
df['year'] = df['year'].apply(lambda x : re.sub(r'[ ]+' , ' ' , x))
df.head(6)

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* checking all unique values and its numbers<br>
* useing plotly to visualize this column
</div>

In [ ]:
print(f'{color.BOLD}Unique years is :  ' , len(df.year.unique()))
print('*' * 30)
df.year.unique()

In [ ]:
hist = px.histogram(df['year'] , x='year' , title='Year distribution',color='year' , height=700 , width=900)
hist.show()

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* Obviousely , most movies years are between 2010 and 2022 

</div>

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* lets check certificate feature<br>
* one third of the rows are missed <br>
* TV-MA and TV-14 have the highest certificate allowance with 2520 and 1209 respectively<br>
* lets show this column 
</div>

In [ ]:
print(f'{color.BOLD}Most repeated certificate')
print('*' * 30)
df.certificate.value_counts().to_frame().style.highlight_max(color='red')

In [ ]:
c_hist = px.histogram(df['certificate'],x='certificate' ,title='Certificate Districution' ,  color='certificate')
c_hist.show()

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* It's time for duration column <br>
* the amount of unique ones and printing all of them <br>
</div>

In [ ]:
print(f'{color.BLUE}The len of unique duration is : {color.END}{len(df.duration.unique())}')
print('***' * 30)
df['duration'].unique()

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* It is better to convert the column name based on minute and then take each sample value and convert the column to integer <br>
* so we take value first , change the column name into duration(min) stands for minute , replace all NAN to 0 and convert to integer<br>
* and lets show its distribution to have better understanding
</div>

In [ ]:
df['duration'] = df['duration'].apply(lambda x : x.split(' ')[0])
df.rename(columns={'duration' : 'duration(min)'} , inplace=True )
df['duration(min)'].replace({'NAN': 0} , inplace=True)
df['duration(min)']=df['duration(min)'].astype(int)

In [ ]:
D_hist = px.histogram(df['duration(min)'] , x='duration(min)' , title='Duration' , color='duration(min)')
D_hist.show()

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* transparently , most of them are between about 30 - 130 minutes<br>
* lets look at thoes less than an hour <br>
* we can see that more than half of them are less than 60 minutes<br>
</div>

In [ ]:
print(f'{color.BOLD}The number of movies with less duration that 60 minuts : ', len(df[df['duration(min)']<60]))
print('***' * 30)
df[df['duration(min)']<60]

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* Here, im showing those movies with highest duration <br>
* the highest one is close to 1000 minutes <br>
</div>

In [ ]:
most_duration = df.sort_values(by='duration(min)' , ascending=False)[['title','duration(min)']][:20]
plt.figure(figsize=(15,15))
sns.barplot(x=most_duration['duration(min)'], y=most_duration['title'])
plt.title('Highest duration' , color='gray' ,size=30)
plt.show()

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* Each move has a combination of genres <br>
* Comedy( 859 ) , Animation Action( 553) , Drama(587) and Documentaru(518) have the hieghest repetition <br>

</div>

In [ ]:
G_hist = px.histogram(df['genre'] , x='genre' , title='Genre' , color='genre' , height=600 , width=2000)
G_hist.show()

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* Becuase we want to show rating feature we put NaN values as 0 => 0 doesnt mean  that they have 0 scores(means NAN)<br>
* change the dtype to float <br>
* now lets look at hieghest rates <br>
* if we want to show lowest ones we can remove 0 ones , but I focus on hieghest ones<br>
* And I show top ten movies with the hieghest rating<br>
</div>

In [ ]:
df['rating'].replace({'NAN':0} , inplace=True)
df['rating'] = df['rating'].astype(float)

In [ ]:
print(f'{color.BOLD}Ordered based on highest rating')
print('**' * 30)
df.sort_values(by='rating' , ascending=False)

In [ ]:
df.sort_values(by='rating' , ascending=False)[['title' , 'rating']].head(10).plot(kind='bar',
                                                                                  x='title' , y='rating',
                                                                                  figsize=(10,5),
                                                                                  title='Hieghest 10 rating',
                                                                                 )
plt.xlabel('Movie' , c='gray')
plt.ylabel('Score' , c='gray')
plt.xticks(rotation = 80 , color='k')
plt.show()

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* I only show 10 top movies with its descriptions <br>
* And then I clean the texts to have better looking<br>
</div>

In [ ]:
df.sort_values(by='rating' , ascending=False)[['title' , 'rating' , 'description']].head(10)

In [ ]:
dataset["stars"]= dataset["stars"].apply(lambda x : re.sub('[^a-zA-Z]' ,',' ,x))
dataset['stars']= dataset['stars'].apply(lambda x : re.sub(r'\,+' , ',' , x))
dataset.sort_values(by='rating' , ascending=False)[['title' , 'rating' , 'stars']][:20]

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* Like the rating column I put 0 as NUll values for vote column <br>
* cleaning the column => except numbers put string<br>
* then change the dtype <br>
* let's show top ten movies with hieghest votes<br>

In [ ]:
df['votes'].replace({'NAN':'0'} , inplace=True)
df['votes'] = df['votes'].apply(lambda x : re.sub('[^0-9]', '' , x))
df['votes'] = df['votes'].astype(int)

In [ ]:
df.sort_values(by='votes' , ascending=False)[['title' , 'rating' , 'votes']][:20].plot(kind='bar' ,
                                                                                       x='title' ,
                                                                                       y='votes',
                                                                                     color='pink')
plt.xlabel('Movies')
plt.ylabel('votes')
plt.title('Most votes', size=20)
plt.show()

<a id="3"></a>
# <p style="padding:10px;background-color:#B01546;margin:0;color:#e9c46a;font-family:newtimeroman;font-size:100%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">End </p>

<div style="font-family:Verdana; background-color:aliceblue; padding:30px; font-size:17px;color:#034914">

* We have discovered all momentous information and details together <br>
* Thank you for your support  
 
</div>